.wrapper {
  position: relative;
  background-image: url("/img/bgSecondPage.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.headerWrapper {
  width: 100%;
}

.heroSection {
  height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  position: relative;
  z-index: 1;
}

.title {
  max-width: 70%;
  font-family: var(--font-body);
  font-weight: 400;
  font-style: Regular;
  font-size: 52px;
  color: var(--color-white);
  margin-left: 0;
}

.subtitle {
  max-width: 70%;
  font-family: var(--font-body);
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: var(--color-white);
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 0;
}

.buttonWrapper {
  margin-top: 30px;
}

/* Планшеты */
@media (max-width: 1024px) {
  .heroSection {
    min-height: calc(100vh - 105px);
    padding: 0 0 70px;
  }

  .title {
    max-width: 85%;
    font-size: 42px;
  }
  .subtitle {
    max-width: 85%;
    font-size: 20px;
  }
}

/* Мобильные устройства */
@media (max-width: 768px) {
  .heroSection {
    min-height: calc(100vh - 90px);
    padding: 0 0 50px;
  }
  .title {
    max-width: 100%;
    font-size: 32px;
  }
  .subtitle {
    max-width: 100%;
    font-size: 18px;
    margin-top: 16px;
  }
}

@media (max-width: 480px) {
  .heroSection {
    min-height: calc(100vh - 78px);
    padding: 0 0 40px;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
  }
}

